.con1 {
  margin-left: 580px;
  margin-top: 50px;
}

/* Style for input */
.inp {
  padding: 8px;
  width: 200px;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Black box shadow */
}

/* Style for button */
.btn1 {
  padding: 8px 16px;
  background-color: #6a5035;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

/* Style for display data */
.display_data {
  display: flex;
  flex-wrap: wrap;
}

/* Style for data containers */
.data-container {
  flex: 1 1 calc(50% - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.data-label {
  font-weight: bold;
}

.name,
.age,
.dp,
.mar,
.occ,
.local,
.phone {
  font-weight: bold;
  margin-top: -18px;
  margin-left: 195px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -100px;
}

.content {
  width: 50%;
  max-width: 400px;
}

.hide {
  display: none;
}
